html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #D3D9D4; 
}

body {
    display:flex; 
}

.navbar{
    height: 100%; 
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #2E3944; 
    overflow-x: hidden;
    padding-top: 20px;
    a:hover {
        text-decoration: underline; 
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0; 
    font-size: 1.2rem; 
}

li a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: white; 
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
    padding: 23px 20px;   
}



.topnav {
    display: flex;
    flex-direction: row;
    height: 75px; 
    width: 100%; 
    padding: 20px;
    background-color: #124E66;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-style: normal;
}

.texttopnav {
    padding-left: 13.5%;
    padding-bottom: 10%;
}

.searchbar {
    padding-left: 50%;
    padding-top: 2%;
}

.wholething {
    display: flex;
    flex-direction: column;
}

.elife {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 5%;
    color: #black;
}

.career {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 5%;
    color: #black;
}

.tonystark {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 2%;
    color: #black;
}

.careercont {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 2%;
    color: #black;
}

.acco {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 2%;
    color: #black;
    padding-bottom: 5%;
}

img {
    width: 350px;
    height: auto;
    padding-top: 27%;
}

.bigpart {
    display: flex;
    flex-direction: row;
}

.biggerthing {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #748D92;
    color: black;
    padding-left: 12%;
  }